<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCzKZIvgCi-Bt8lYhl7i-KfE3fnYSP6xL4</string>
	<key>GCM_SENDER_ID</key>
	<string>245116336855</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterProject</string>
	<key>PROJECT_ID</key>
	<string>flutter-project-sigi</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-project-sigi.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:245116336855:ios:f0ebc78509d88a4ffc8e92</string>
</dict>
</plist>